@model WebShoppingMVC.Domain.ModelList.AllList
@{
    ViewData["Title"] = "Shirt";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<section class="section" id="men">
    <div class="container">
        <div class="row" style="margin-left: 408px;">
            <div class="col-lg-6">
                <div class="section-heading" style="text-align: center;margin-top: 20px;">
                    <h2 >Shirt</h2>
                    <span>Jacket, T-shirt, Three-hole</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                         @foreach (var item in Model.ListProduct)
                         {
                            <div style="width: 300px; margin-left: 23px" class="item">
                           
                                        <div class="thumb">
                                            <div class="hover-content">
                                                <ul>
                                                    <li><a href="@Url.Action("Details", "Product",new { Id = item.Id})"><i class="fa fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                            <img style="width: 300px; height: 300px" src="@item.Image" alt="">
                                        </div>
                                        <div class="down-content">
                                            <h4>@item.Name</h4>
                                            <span>@item.Price VNĐ</span>
                                            <ul class="stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                           
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

